.posts__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
}

.posts__list-item__top {
    display: flex;
    justify-content: space-between;
}

.posts_list-item__comments,
.posts_list-item__body {
    margin-top: 1rem;
}

.posts__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
}

.posts__list-item h2 {
    margin: 0;
    font-size: 1rem;
    color: #7c7c7c;
}

.posts__list-item p {
    margin: 0;
}