.tab-desktop {
    margin-top: 56px;
}

.tab-desktop ion-label {
    font-size: 16px;
}
.crib-logo {
    font-size: 28px;
}

.mobile-content {
    --padding-top: 44px;
}

.desktop-content {
    --padding-top: 56px;
}