.comment__item {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid #5101d1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment__item-data {

}

.comment__item-user {
    font-size: 14px;
    margin-bottom: 0.2rem;
}

.comment__item-text {
    font-size: 16px;
}