.posts-control {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem auto;
    width: 38rem;
    max-width: 90%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}