body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.form-control label,
.form-control input,
.form-control textarea {
    width:  100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}
.form-control {
    margin-bottom: 1rem;
}

.form-actions button,
.btn {
    background: #5101d1;
    font: inherit;
    border: 1px solid #5101d1;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background: #6219d6;
    border-color: #6219d6;
}
.container {
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem auto;
    width: 38rem;
    max-width: 90%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.action-control {
    text-align: center;
}

.list-item {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid #5101d1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}